.markdownRenderBox {
    margin: 0.2rem;
    margin-left: 0;
    width: 100%;
    border: 1px solid #f0f0f0;
    border-radius: 6px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .textArea {
        grid-column: 1/2;
        padding: .5rem;
        .field {
            overflow: hidden;
            width: 100%;
            height: auto;
            box-sizing: border-box;
            border: none;
            outline: none;
            resize: none;
            box-sizing: border-box;
            font-family: 'Alata', sans-serif;
        }
    }
    .rendered {
        box-sizing: border-box;
        grid-column: 2/3;
        padding: .5rem;
        height: 100%;
        border-left: 1px solid #f0f0f0;
        overflow-x: auto;
        margin: 0;
        background-color: #177eaa1a;
        cursor: pointer;
        &:hover {
            background-color: #177eaa2a;
            transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
        &::ng-deep {
            * {
                margin: 0;
                width: 100%;
                box-sizing: border-box;
            }
            code {
                display: flex;
                padding: 0.5rem;
                border: none;
                background-color: #101010;
                border-radius: 8px;
                color: white;
            }
        }
    }
}