$color-background: #FEFEFE;
$color-logo: #177EAA;
$color-active-green: #2BC016;
$color-active-red: #F8333C;
$color-star: #FFB800;
$color-active-yellow: #FCAB10;
$color-background-footer: #0A0A0A;

$color-text-navigation: #8A8A8A;
$color-text-phrase: #B0B0B0;
$color-text-footer: #f6f6f6;

$font-nav-01: 'Anek Devanagari', sans-serif;
$size-height-footer: 30vh;

// Dark mode
$color-background-dark: #282830;