@import '../../../assets/scss/variables.scss';
@mixin navigator($right, $width){
    right: $right;
    width: $width;
}

.navigation {
    background-color: rgba($color: $color-background, $alpha: 0.8);
    position: absolute;
    display: flex;
    justify-content: space-between;
    font-family: $font-nav-01;
    top: 0;
    margin: 0;
    width: 100%;
    height: 3rem;
    box-shadow:  -10px 10px 20px #f9f9f9, 10px -10px 20px #ffffff;
    .logo {
        height: 100%;
        cursor: pointer;
        user-select: none;
    }

    .quotes{
        user-select: none;
    }

    .phrase {
        height: 100%;
        display: flex;
        align-items: center;
        font-weight: 400;
        color: $color-text-phrase;
        font-size: 1.2rem;
        user-select: all;
    }
    .nav{
        position: relative;
        display: flex;
        height: 100%;
        align-items: center;
        margin-right: 1rem;
        user-select: none;
        .navigator-ghost{
            position: absolute;
            top: calc( 3rem - 5px);
            width: 0;
            height: 5px;
            background-color: $color-logo;
            transition: all 0.3s ease-in-out;
            right: 0;
        }
        button{
            display: flex;
            height: 100%;
            text-decoration: none;
            color: $color-text-navigation;
            background-color: transparent;
            border: none;
            align-items: center;
            width: auto;
            cursor: pointer;
            &:hover{
                background-color: #f0f0f6;
                transition: background-color 0.2s ease-out;
            }
        }
        button:nth-child(1):hover~.navigator-ghost{
            @include navigator(315.14px, 46.5px);
        }
        button:nth-child(2):hover~.navigator-ghost{
            @include navigator(213.17px, 101.97px);
        }
        button:nth-child(3):hover~.navigator-ghost{
            @include navigator(151.36px, 61.81px);
        }
        button:nth-child(4):hover~.navigator-ghost{
            @include navigator(99.17px, 52.19px);
        }
        button:nth-child(5):hover~.navigator-ghost{
            @include navigator(0px, 99.17px);
        }
    }
}

@media (max-width: 900px) {
    .navigation{
        .nav{
            display: none;
        }
    }
}

@media (max-width: 700px) {
    .navigation{
        .phrase{
            display: none;
        }
    }
}
