<div class="navigation">
    <a href="/">
        <img class="logo" src="assets/img/ascript_logo.png" alt="Home">
    </a>
    <div class="phrase">
        <span class="quotes"><i>"</i></span>
        <span><i>Dios es amor</i></span>
        <span class="quotes"><i>"</i></span>
    </div>
    <div class="nav">
        <button routerLink="/home" routerLinkActive="activeRoute">Inicio</button>
        <button routerLink="/communities" routerLinkActive="activeRoute">Comunidades</button>
        <button routerLink="/write" routerLinkActive="activeRoute">Escribir</button>
        <button routerLink="/donate" routerLinkActive="activeRoute">Donar</button>
        <button routerLink="/login" routerLinkActive="activeRoute">Iniciar Sesión</button>
    </div>
</div>