<div class="navigation">
    <a href="/">
        <img class="logo" src="assets/img/ascript_logo.png" alt="Home">
    </a>
    <div class="phrase">
        <span>"Dios es amor"</span>
    </div>
    <div class="nav">
        <button routerLink="/home">Inicio</button>
        <button routerLink="/communities">Comunidades</button>
        <button routerLink="/write">Escribir</button>
        <button routerLink="/donate">Donar</button>
        <button routerLink="/login">Iniciar Sesión</button>
        <div class="navigator"></div>
        <div class="navigator-ghost"></div>
    </div>
</div>