<div class="footer">
    <img src="assets/img/ascript_logo_dark.png" alt="Ascript" class="logo-dark">
    <div class="right">
        <div class="links">
            <div class="left-links">
                <a href="">Cambiar Idioma</a>
                <a href="">Acerca de Ascript</a>
                <a href="">Términos y condiciones</a>
                <a href="">Notificaciones en tu correo</a>
            </div>
            <div class="right-links">
                <a href="">Soporte</a>
                <a href="">Privacidad</a>
                <a href="">Modo Oscuro</a>
                <a href="">Preguntas frecuentes</a>
                <a href="">Código de conducta</a>
            </div>
        </div>
        <div class="social">
            <span class="title">Redes sociales</span>
            <a class="icon" href=""><img width="40px" src="assets/img/github_logo_dark.png" alt=""></a>
            <a class="icon" href=""><img width="50px" src="assets/img/twitter_logo_dark.png" alt=""></a>
            <a class="icon" href=""><img width="40px" src="assets/img/instagram_logo_dark.png" alt=""></a>
        </div>
    </div>
</div>
